.journal-banner-wrapper {
    Position: relative;
    overflow: hidden;
    padding-top: 340px;
    padding-bottom: 132px;
    background-position: 50% 50%;
    background-size: cover;
}

.j-banner-img {
     background-image: url(../images/Blogs/Blogdetails/Blogdetails-01.png); 
}


.journal-img {
    Position: relative;
    overflow: hidden;
    background-size: cover;
}



.journal-content {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

@media (min-width: 1200px) { 

    .journal-content{
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 991.98px) {
.journal-content{
    padding-left: 10px !important;
    margin-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 10px !important;
}
}